/* Add your css styles here */
body {
    font-family: rubik;
    margin: 0;
    background-color: white;
    color: white;
}

.container {
    margin: 0 auto;
    padding: 0 40px;
}

h1 {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: orangered;
    padding-top: 20px;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 25px;
    padding-inline-start: 0;
}

.card {
    list-style: none;
    padding: 40px;
    background-color: #f4f4f4;
    color: #222;
    text-align: center;
    border-radius: 5px;
    border-color: orangered;
    border-style: solid;
    border-width: thick;
}

.card:hover {
    animation: bounce 0.75s linear;
}

.card-image {
    height: 150px;
}

.card-title {
    font-weight: normal;
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 0px;
}
.card-subtitle {
    margin-top: 5px;
    color: #666;
    font-weight: lighter;
}

@keyframes bounce {
    20% {
        transform: translateY(-5px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0);
    }
}
