/* Add your css styles here */
.pendo-resource-center--body {
    font-family: rubik;
    margin: 0;
    background-color: white;
    color: white;
}

.pendo-resource-center--container {
    margin: 0 auto;
    padding: 0;
}

.pendo-resource-center--title {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: orangered;
    padding: 20px;
}

.pendo-resource-center--title:hover {
    animation: bounce-y 0.75s linear;
}

h1.pendo-resource-center--title{
    margin-bottom: 0
}

#pendo-resource-center--pokedex {
    display: block;
}

ul#pendo-resource-center--pokedex {
    padding-inline-start: 0px !important;
}

.pendo-resource-center--card {
    list-style: none;
    padding: 10px;
    background-color: #f4f4f4;
    color: #222;
    text-align: center;
    border-top: 5px solid orangered;
    border-width: thin;
}

.pendo-resource-center--collapsed {
    display: none;
    overflow: hidden;
    animation: slide-in 0.1s linear;
}

.pendo-resource-center--card:hover {
    animation: bounce-x 0.75s linear;
}

.pendo-resource-center--card-image {
    height: 75px;
    display:inline-block;
    vertical-align:middle;
    margin: auto;
}

.pendo-resource-center--card-title {
    font-weight: normal;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 0px;
}
.pendo-resource-center--card-subtitle {
    color: #666;
    font-weight: lighter;
}

@keyframes bounce-x {
    20% {
        transform: translateX(-5px);
    }
    40% {
        transform: translateX(0px);
    }

    80% {
        transform: translateX(-3px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes bounce-y {
    20% {
        transform: translateY(-5px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide-in {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    25%{
        transform: translateY(-75px);
        opacity: 0;
    }
    50%{
        transform: translateY(-50px);
        opacity: 0;
    }

    80% {
        transform: translateY(-10px);
        opacity: 0.5;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
